body {
    display: flex;
    justify-content: center;
    background-image: url("../public/background.jpg");
    background-size: cover;
}

.container {
    text-align: center;
    border: 1px solid black;
    width: 100vw;
    max-width: 470px;
    background-color: #967bb6;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 60px;
}
.AppName {
    border: 1px solid black;
    background-color: #f4ca16;
    text-align: center;
    display: inline-block;
    min-width: 200px;
    height:50px;
    color: #fff5ee;
    -webkit-text-stroke: 1px black;
    font-family: Helvetica;
    font-weight: 900;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.taskList {
    background-color: #d6cadd;
    height: auto;
    width: calc(100% - 41px);
    padding-top: 35px;
    padding-bottom: 16px;
    border: 0.7px solid black;
    border-radius: 6%;
}

.addTaskButton {
    position: fixed;
    bottom: 30px;
    right: 50px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 0.5px solid black;
    background-color: #f4ca16;
    font-size: x-large;
}

.task {
    display: flex;
    margin-bottom: 17px;
    min-height: 64px;
    width: 80%;
    
}

.taskText {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    min-width: 98%;
    white-space: normal;
    font-family: URW Chancery L, cursive;
}

.addTask > button {
    background-color: #f4ca16;
    -webkit-text-stroke: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: row;
    height: 20.5px;
    bottom: 0px;
    margin-left: -77px;
    margin-top: 40px;
}